[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-thermalcam
Exec=harbour-thermalcam
Name=ThermalCam

[X-Sailjail]
OrganizationName=net.attah
ApplicationName=thermalcam
Sandboxing=Disabled
